div#sidebar.sidebar
	hgroup.siteHeader
		h1.kivaLogo: a(href="#") Kiva 2011
		h2.documentTitle Annual Report

	- var items = { borrowers: 'borrowers', lenders: 'lenders', site: 'web site', partners: 'partners', ecosystem: 'kiva ecosystem', stories: 'stories from the field', press: 'press & promotions', fundraising: 'fundraising'}

	nav.primaryNav
		ul
			each item, key in items
				li
					a(href="#", data-dv-section= key) #{item}


	div
		div
			a.button.share(href="#") Share this
		p Kiva is a non-profit organization.  We rely on support from people like you to keep the lights on.
		p Consider a donation
		div
			a.button.donate(href="#") Donate