!!! 5
html
	title= title
	link(rel='stylesheet', href='/stylesheets/base.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/isotope.css')
	script(src='/javascripts/lib/require.js', data-main='/javascripts/app.js')
	body!= body



	script(type='text/x-handlebars-template', id='blockTemplate')
		h3 {{title}}
		img(src='/images/kiva.png')
		p {{content}}

	script(type='text/x-handlebars-template', id='blockWindowTemplate')
		img(src='/images/kiva.png')
		div
			h3 {{title}}
			p {{content}}