/*
Only here for testing ***DELETE***

font-family: 'Proxima Nova Light', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 200;
font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 400;
font-family: 'Proxima Nova Semibold', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight: 600;

font-family: 'Museo Slab 300', Rockwell, Georgia, serif; font-weight: 300;
font-family: 'Museo Slab 500', Rockwell, Georgia, serif; font-weight: 500;

*/

/* For testing */
/* .block { outline: 1px red solid; } */

/* %Hack% For some strange reason this fixes css transitions on block elements */
.block { outline: 1px transparent solid; }

/* Outer frame */
body        { margin: 0 auto; width: 1004px; }
.main       { font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 400; min-height: 100%; }

/* @todo temporary overrides */
/* .main       { font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 400; min-height: 100%; } */

noscript   { border: red 2px solid; font-size: 1.2857em; font-weight: bold; text-align: center; padding: 5px; z-index: 100; }

.sidebar    { background-color: #74b446; box-shadow: -2px 0 7px #888; color: #fff; height: 100%; margin-left: 768px; min-width: 256px; position: fixed; top: 0; width: 100%;}

.siteHeader { padding: 10px 0; text-align: center; width: 236px; }
.siteHeader .kivaLogo a { display: inline-block; width: 103px; height: 60px; overflow: hidden; }
.siteHeader .kivaLogo a img { min-width: 100%; min-height: 100%; }
.siteHeader .kivaLogo,
.siteHeader h2  { font-weight: normal; margin-bottom: 10px; }
.siteFooter     { background-color: #f7f7f2; height: 20px; text-align: center; }
.siteFooter a   { display: block; width: 100%; height: 100%; }

.primaryNav { border-top: #fff 3px solid; border-bottom: #fff 3px solid; margin-bottom: 20px; padding: 10px 0; position: relative; }
.primaryNav .nav-prev
, .primaryNav .nav-next { position: absolute; top: 0; right: 0; }
.primaryNav ul          { margin-left: 2px; }
.primaryNav li          { font-size: 1.7142em; margin-bottom: 10px; }
.primaryNav li a        { color: #25582b; display: block; padding-left: 20px; }
.primaryNav li a:active { background-color: transparent; color: #fff; }
.primaryNav li a:hover  { background-color: transparent; color: #fff; }
.primaryNav li.active a { border-left: #fff 5px solid; color: #fff; padding-left: 15px; }
.primaryNav ~ *         { padding: 0 20px; }

.sidebarMisc            { width: 256px; }
.aboutKiva              { margin-top: 20px; }

.main > section { margin-bottom: 40px; }

/* Colors */
.c1 { color: #888; }
.c2 {}
.c3 {}
.c6 { color: #25582b; }
.c7 { color: #4b9123; }
.c8 { color: #74b446; }

/* Fonts */
.fS1 { font-size: .7857em; } /* 11px */
.fS2 { font-size: .8571em; } /* 12px */
.fS3 { font-size: 1.1428em; } /* 16px */
.fS4 { font-size: 1.2857em; } /* 18px */
.fS5 { font-size: 1.5em; } /* 21px */
.fS6 { font-size: 1.7142em; } /* 24px */
.fS7 { font-size: 2.5714em; } /* 36px */

.fMS {font-family: 'Museo Slab 300', Rockwell, Georgia, serif; font-weight: 300; }
.fMS.bold { font-family: 'Museo Slab 500', Rockwell, Georgia, serif; font-weight: 500; }

/* @todo temporary overrides */
.fMS {font-family: Helvetica, Georgia, serif; font-weight: 300; }
.fMS.bold { font-family: Helvetica, Georgia, serif; font-weight: 500; }

/* Styles */
.light  { font-family: 'Proxima Nova Light', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 200; }
.bold   { font-family: 'Proxima Nova Semibold', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight: 600; }

/* @todo temporary overrides */
/* .light  { font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 200; } */
.bold   { font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight: 600; }

/* Buttons */
.button                 { background-color: #f1efed; border: #74b446 1px solid; color: #4b9123; display: inline-block; line-height: 1.6429em; padding-right: 1em; padding-left: 1em; vertical-align: bottom; width: 200px; text-align: center;
	background-image: -moz-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #e1e1e1));
	background-image: linear-gradient(top, #ffffff, #e1e1e1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#e1e1e1');
}
.cssgradients .button   { -moz-border-radius: 2em; -webkit-border-radius: 2em; border-radius: 2em; /* We do not want rounded corners if there is no support for css gradients */ }
.button:hover   { text-decoration: none;
	background-image: -moz-linear-gradient(top, #ffffff, #d0e2c6);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #d0e2c6));
	background-image: linear-gradient(top, #ffffff, #d0e2c6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#d0e2c6');
}
.button:active {
  background-image: -moz-linear-gradient(top, #d0e2c6, #ffffff);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #d0e2c6),color-stop(1, #ffffff));
  background-image: linear-gradient(top, #d0e2c6, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#d0e2c6', EndColorStr='#ffffff');
}

.button.c2a { background-color: #fa8205; border-top-color: #fab846; border-width: 1px 0 0 0; color: #fff; line-height: 1.5714em; padding-bottom: 2px;
  background-image: -moz-linear-gradient(top, #f89f23, #fa8306);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f89f23),color-stop(1, #fa8306));
  background-image: linear-gradient(top, #f89f23, #fa8306);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f89f23', EndColorStr='#fa8306');
  -moz-box-shadow: 0 -1px 2px #fb8200;
  -webkit-box-shadow: 0 -1px 2px #fb8200;
  box-shadow: 0 -1px 2px #fb8200;
}
.button.c2a:hover {
  background-image: -moz-linear-gradient(top, #f9b128, #fa8105);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f9b128),color-stop(1, #fa8105));
  background-image: linear-gradient(top, #f9b128, #fa8105);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9b128', EndColorStr='#fa8105');
}
.button.c2a:active { border-top-color: #f5871c;
  background-image: -moz-linear-gradient(top, #fa8306, #f89f23);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fa8306),color-stop(1, #f89f23));
  background-image: linear-gradient(top, #fa8306, #f89f23);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fa8306', EndColorStr='#f89f23');
}

.tTU    { text-transform: uppercase; }
.tTC    { text-transform: capitalize; }

/* Grid */
.container      { position: relative; width: 768px; }
.g1, .g2, .g3, .g4, .g5, .g6, .g7, .g8, .g9   { display: inline-block; }
.g1   { width: 64px; }
.g2   { width: 148px; }
.g3   { width: 232px; }
.g4   { width: 316px; }
.g5   { width: 400px; }
.g6   { width: 484px; }
.g7   { width: 568px; }
.g8   { width: 652px; }
.g9   { width: 736px; }

.h1 { height: 60px; }
.h2 { height: 140px; }
.h3 { height: 220px; }
.h4 { height: 300px; }
.h5 { height: 380px; }
.h6 { height: 460px; }
.h7 { height: 540px; }
.h8 { height: 620px; }

/* Block */
#letter .textBlock { font-size: 18px; }

.block  { display: inline-block; margin: 10px; overflow: hidden; position: relative; vertical-align: top; }
.block.clickable            { cursor: pointer; }
.block.clickable:hover      { box-shadow: 1px 1px 5px #888, -1px 0 5px #888; top: 1px; }
.block .block               { height: 100%; margin: 0 10px; }
.block .subBlocks .block:first-child   { margin-left: 0; }
.block .subBlocks .block:last-child    { margin-right: 0; }

.singIt:before  { content: '\266B'; float: left; padding-right: 5px; }
.singIt:after   { content: '\266A'; padding-left: 10px; }

.sectionTitleBlock      { margin-top: 10px;}
section:first-child .sectionTitleBlock { margin-top: 10px; }
.sectionTitleBlock h2   { background-color: #74b446; color: #fff; font-size: 48px; display: inline-block; height: 100%; padding: 0 10px 0 5px; }

.dataMetricBlock            { border-bottom: #888 1px solid; }
.dataMetricBlock .dataPoint { color: #4b9123; line-height: .9; padding-bottom: 3px; }
.dataMetricBlock.g2 .dataPoint { width: 115px; }
.dataMetricBlock.g3 .dataPoint { width: 165px; }
.dataMetricBlock.g4 .dataPoint { width: 249px; }
.dataMetricBlock.g6 .dataPoint { width: 417px; }
.dataMetricBlock .dataPoint div { display: inline; }
.dataMetricBlock .label     { position: absolute; bottom: 5px; left: 2px; }
.dataMetricBlock .caption   { position: absolute; text-align: right; top: 5px; right: 2px; width: 67px; }
.dataMetricBlock .caption.trendingUp:before { content: '\25B2'}
.dataMetricBlock .caption.trendingDown:before { content: '\25BC'}

.spBadgeBlock .label { padding-bottom: 5px; }
.spBadgeBlock .description { padding-bottom: 5px; }
.spBadgeBlock .spBadge { display: inline-block; margin-bottom: 5px; width: 100px; text-align: center; vertical-align: top;}

.textBlock  { border-bottom: #888 1px solid; }
.textBlock .label       { position: absolute; left: 0; bottom: 5px;}
.textBlock .valuelist li    { font-size: 2.5714em;}
.textBlock .valuelist .f32  { margin-top: 2px; margin-right: 10px; }
.block .textBlock .bv1 { font-size: .8571em; }

.highlightBlock .img    { width: 100%; position: absolute; top: 0; left: 0; }
.highlightBlock .veil   { background-color: rgba(255, 255, 255, .7); box-shadow: inset 0 -1px 3px #ccc; position: absolute; bottom: 0; left: 0; width: 100%; padding: 10px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80ffffff,endColorstr=#80ffffff); /* IE6–IE9 */
	zoom: 1
}
.highlightBlock.clickable:hover .veil { background-color: rgba(255, 255, 255, .8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#90ffffff,endColorstr=#90ffffff); /* IE6–IE9 */
}

.percentageGraphBlock               { background-color: #333; border: #fff 1px; border-style: solid solid none solid}
.percentageGraphBlock > .datapoint  { border-left: 2px solid #ccc; color: #f7f7f2; float: left; height: 100%; padding-left: 2px; }
.percentageGraphBlock > .datapoint .label { font-size: .7143em; }
.percentageGraphBlock > .datapoint:first-child    { border-left: none; }
.percentageGraphBlock > .label      { background-color: #f7f7f2; position: absolute; bottom: 0; left: 0; padding-top: 1px; width: 100%; }

.mapBlock .img    { width: 100%; position: absolute; top: 0; left: 0; }
.mapBlock .label  { position: absolute; left: 0; top: 2px;}

.dataGraphBlock .img    { width: 100%; position: absolute; top: 0; left: 0; }
.dataGraphBlock .label  { position: absolute; left: 0; bottom: 2px;}

.profileBlock .img      { float: left; margin-right: 10px; padding: 5px 0; width: 75px; height: auto; }
.profileBlock .info     { overflow: hidden; }

.playable.block .sprite.play    { background: url(/img/play.png) no-repeat 0 0; float: right; margin-left: 5px; width: 40px; height: 40px; }

/* Lightbox */
#cboxLoadedContent { font-size: 1.1428em; }

/* Social Performance badges */
.spSprite { background: url(/img/2011/sp-sprite.png) no-repeat; margin: 0 auto; width: 37px; height: 37px;}
.spSprite.antipoverty 	    { background-position: -43px -40px; }
.spSprite.vulnerableGroup 	{ background-position: -43px -134px; }
.spSprite.clientVoice       { background-position: -43px -232px; }
.spSprite.empowerment 	    { background-position: -43px -330px; }
.spSprite.entrepreneurial   { background-position: -43px -424px; }
.spSprite.facilitateSavings { background-position: -43px -512px; }
.spSprite.innovation 	    { background-position: -43px -600px; }

/* Custom block tweaks */
.osberg-tweet-block.textBlock .valuelist li { font-size: 2.2858em; line-height: .98em; }
.locations-of-field-staff-block.textBlock .valuelist li { line-height: 1.2;}
.languages-of-posted-loans-block.textBlock { line-height: 1.2; }

/* Media Queries */
@media only screen and (max-width: 936px) {
	.g9	{ width: 492px; }

	.sidebar { margin-left: 512px; }
	.container { width: 512px; }
}

@media only screen and (max-width: 600px) {
	/* How do we want to handle mobile devices? */
}

@media only screen and (max-height: 650px) {
	.siteHeader     { font-size: 1.2857em; }
	.siteHeader .kivaLogo a { display: inline-block; width: 50px; height: 30px; overflow: hidden; }
	.primaryNav li  { font-size: 1.2857em; margin-bottom: 5px; }
}