/*
Only here for testing ***DELETE***

font-family: 'Proxima Nova Light', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 200;
font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 400;
font-family: 'Proxima Nova Semibold', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight: 600;

font-family: 'Museo Slab 300', Rockwell, Georgia, serif; font-weight: 300;
font-family: 'Museo Slab 500', Rockwell, Georgia, serif; font-weight: 500;

*/

/* For testing */

.block { outline: 1px transparent solid; }
/* .block { outline: 1px red solid; } */

/* Outer frame */
body        { margin: 0 auto; width: 1004px; }
.main       { font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 400; min-height: 100%; }

/* @todo temporary overrides */
.main       { font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 400; min-height: 100%; }

.sidebar    { background-color: #74b446; box-shadow: inset 2px 0 7px #333; height: 100%; margin-left: 768px; min-width: 256px; position: fixed; top: 0; }
.sidebar li   { margin-bottom: 10px; }

.siteHeader { padding: 0 20px; }
.siteFooter { background-color: #f7f7f2; height: 5px; }
.siteFooter a { visibility: hidden; }

.primaryNav { border-top: #fff 2px solid; border-bottom: #fff 2px solid; padding: 10px 0; position: relative; }
.primaryNav .nav-prev
, .primaryNav .nav-next { position: absolute; top: 0; right: 0; }
.primaryNav ul          { margin-left: 2px; }
.primaryNav li a        { color: #333; display: block; padding-left: 20px; }
.primaryNav li a:active { background-color: transparent; color: #fff; }
.primaryNav li a:hover  { background-color: transparent; color: #fff; }
.primaryNav li.active a { border-left: #fff 5px solid; color: #fff; padding-left: 15px; }
.primaryNav ~ *         { padding: 0 20px; }

.main > section { margin-bottom: 40px; }

/* Colors */
.c1 { color: #888; }
.c2 {}
.c3 {}
.c6 { color: #25582b; }
.c7 { color: #4b9123; }
.c8 { color: #74b446; }

/* Fonts */
.fS1 { font-size: .7857em; } /* 11px */
.fS2 { font-size: .8571em; } /* 12px */
.fS3 { font-size: 1.1428em; } /* 16px */
.fS4 { font-size: 1.2857em; } /* 18px */
.fS5 { font-size: 1.5em; } /* 21px */
.fS6 { font-size: 1.7142em; } /* 24px */
.fS7 { font-size: 2.5714em; } /* 36px */

.fMS {font-family: 'Museo Slab 300', Rockwell, Georgia, serif; font-weight: 300; }
.fMS.bold { font-family: 'Museo Slab 500', Rockwell, Georgia, serif; font-weight: 500; }

/* @todo temporary overrides */
.fMS {font-family: Rockwell, Georgia, serif; font-weight: 300; }
.fMS.bold { font-family: Rockwell, Georgia, serif; font-weight: 500; }

/* Styles */
.light  { font-family: 'Proxima Nova Light', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 200; }
.bold   { font-family: 'Proxima Nova Semibold', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight: 600; }

/* @todo temporary overrides */
.light  { font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 200; }
.bold   { font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight: 600; }


.tTU    { text-transform: uppercase; }
.tTC    { text-transform: capitalize; }

/* Grid */
.container      { position: relative; width: 768px; }
.g1, .g2, .g3   { display: inline-block; }
.g1	{ width: 236px; }
.g2	{ width: 492px; }
.g3	{ width: 748px; }

.h1 { height: 60px; }
.h2 { height: 140px; }
.h3 { height: 220px; }
.h4 { height: 300px; }
.h5 { height: 380px; }
.h6 { height: 460px; }
.h7 { height: 520px; }
.h8 { height: 580px; }

/* Block */
.block  { display: inline-block; margin: 10px; overflow: hidden; position: relative; vertical-align: top; }
.block.clickable            { cursor: pointer; }
.block.clickable:hover      { box-shadow: 1px 1px 5px #888, -1px 0 5px #888; top: 1px; }
.block .block               { height: 100%; margin: 0 10px; }
.block .block:first-child   { margin-left: 0; }
.block .block:last-child    { margin-right: 0; }

.nightBlock li { background-color: #000; color: #fff; }

.sectionTitleBlock h2   { background-color: #74b446; color: #fff; font-size: 48px; display: inline-block; height: 100%; padding: 0 10px 0 5px; }

.dataMetricBlock            { border-bottom: #888 1px solid; }
.dataMetricBlock .dataPoint { color: #4b9123; line-height: 1.1; }
.dataMetricBlock .dataPoint div { display: inline; }
.dataMetricBlock .bv4 { position: absolute; text-align: right; top: 5px; right: 2px; width: 50px; }

.textBlock  { border-bottom: #888 1px solid; }

.highlightBlock .img    { width: 100%;   position: absolute; top: 0; left: 0; }
.highlightBlock .veil   { background-color: rgba(255, 255, 255, .7); border: #ccc 1px solid; border-top-style: none; position: absolute; bottom: 0; left: 0; width: 100%; padding: 3px; }
.highlightBlock.clickable:hover .veil { background-color: rgba(255, 255, 255, .8); }

.profileBlock .img      { float: left; margin-right: 10px; padding: 5px 0; width: 75px; height: auto; }
.profileBlock .info     { overflow: hidden; }

.playbackBlock .veil    { background-image: url(/img/play.png); background-repeat: no-repeat; background-position: 90% 90%; }

.hTableBlock li                         { border-left: #ccc 1px solid; float: left; padding: 5px; }
.hTableBlock li:first-child             { border-left: none; }
.hTableBlock .label                     { padding: 5px; }
.hTableBlock.nightBlock li              { border-left: #fff 1px solid }
.hTableBlock.nightBlock li:first-child  { border-left: none; }

.block .vTableBlock                     { display: inline-block; width: 50%; }
.vTableBlock ul                         { height: 100%; display: inline-block; }
.vTableBlock li                         { border-left: #000 2px solid; display: inline-block; width: 20%; vertical-align: bottom; }
.vTableBlock li:first-child             { border-left: none; }
.vTableBlock.nightBlock li              { border-left-color: #fff; }

/* Custom blocks */
.worldmapBlock { background: url(/img/frame.jpg) 0 0 no-repeat; background-size: 100%; }

/* Media Queries */
@media only screen and (max-width: 936px) {
	.sidebar { margin-left: 512px; }
	.container { width: 512px; }
}

@media only screen and (max-width: 600px) {
	/* How do we want to handle mobile devices? */
}