/* outer frame */
.main       { padding-left: 10px; min-height: 100%; background-color: #f7f7f2; }
.sidebar    { background-color: green; box-shadow: inset 2px 0 7px #333; height: 100%; margin-left: 768px; position: fixed; top: 0; width: 256px; }

.siteHeader { padding: 0 20px; }

.primaryNav { border-top: #fff 2px solid; border-bottom: #fff 2px solid; padding: 10px 0; }
.primaryNav ul          { margin-left: 4px; }
.primaryNav li a        { color: #fff; display: block; padding-left: 20px; }
.primaryNav li a:active { background-color: transparent; }
.primaryNav li.active a { border-left: #fff 5px solid; color: #fff; padding-left: 15px; }
.primaryNav ~ *         { padding: 0 20px; }

/* grid */
.container          { position: relative; width: 1044px;  }
.g1, .g2, .g3, .g4  { float: left; }
.g1	{ width: 256px; }
.g2	{ width: 512px; }
.g3	{ width: 768px; }
.g4	{ width: 1024px ; }

/* styles */
.main > section { margin-bottom: 40px; padding-top: 10px; }
.sectionTitle   { background-color: green; color: #fff; }

.block 		    { box-sizing: border-box; border: #ccc 0 solid; height: 160px; margin: 0 10px; overflow: hidden; position: relative; }
.block.b        { border-width: 1px; }
.block.bT       { border-top-width: 1px; }
.block.bR       { border-right-width: 1px; }
.block.bB       { border-bottom-width: 1px; }
.block.bL       { border-left-width: 1px; }

a.block         { color: #333; cursor: pointer; display: block; }
a.block a       { color: #00b7ff; }
a.block .bgImg  { width: 100%; position: absolute; top: 0; left: 0; z-index: -1; }

.veil           { background-color: rgba(255, 255, 255, .7); position: absolute; width: 100%; bottom: 0; left: 0; }
.veil > h3      { text-transform: uppercase; }
.veil.data      { font-size: 2em; }

/* util */
.center     { margin: 0 auto; }