body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidebar {
	background-color: green;
	float: right;
}

.block 		{ box-sizing: border-box; margin: 10px; }
.block.g1	{ width: 100px; height: 200px; }
.block.g2	{ width: 200px; height: 200px; }
.block.g3	{ width: 200px; height: 200px; }
.block.g4	{ width: 200px; height: 200px; }